<!DOCTYPE html>
<!-- Hello fellow coder! The code source is available at github.com/aliou/music. -->
<html>
  <head>
    <title>music.aliou.me</title>
    <link rel="stylesheet" href="/css/reset.css" media="all" type="text/css">
    <link rel="stylesheet" href="/css/semantic.min.css" media="all" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato" type="text/css">
    <link rel="stylesheet" href="/css/style.css" media="all" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
