<!DOCTYPE html>
<html>
  <head>
    <title>music.aliou.me</title>
    <link rel="stylesheet" href="/css/reset.css" media="all" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato" type="text/css">
    <link rel="stylesheet" href="/css/style.css" media="all" type="text/css" />
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
