body {
  font-family: Lato, Verdana, Arial, sans-serif;
  border-top-color: rgb(255, 67, 41);
  border-top-style: solid;
  border-top-width: 3px;
}

a {
  color: rgb(255, 67, 41);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 14px;
  font-size: 2em;
}

#footer {
  float: right;
  margin-top: 14px;
}

#content {
  width: 630px;
  margin: 100px auto;
}
